@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(88, 87, 87);
}


#tasklist::-webkit-scrollbar {
  display: none; /* Chrome, Safari */

  
}
#alltasknew::-webkit-scrollbar{
  display: none;
}